Repository carls-app/carls, pull requests merged in 2018-05, with the labels that each got.

#215 Remove deps and in-app html/markdown conversion
  flow-typed/aao/fetch.js
  flow-typed/npm/xml2js_vx.x.x.js
  package.json
  source/globalize-fetch.js
  source/lib/html.js
  source/lib/stalkernet.js
  source/views/convocations/upcoming-detail.js
  yarn.lock
Labels: view:convos

#223 Implement job grouping by time offered
  source/views/sis/student-work-carls/list.js
Labels: approved-hawken, view:jobs

#225 Add map reporting screen
  source/navigation.js
  source/views/map-carls/index.js
  source/views/map-carls/info.js
  source/views/map-carls/mapbox.js
  source/views/map-carls/report/editor.js
  source/views/map-carls/report/index.js
  source/views/map-carls/report/submit.js
Labels: approved-drew, approved-hawken, view:map

#224 Redo map search
  package.json
  source/app.js
  source/navigation.js
  source/views/map-carls/index.js
  source/views/map-carls/info.js
  source/views/map-carls/mapbox.js
  source/views/map-carls/picker.js
  source/views/map-carls/report/editor.js
  source/views/map-carls/report/index.js
  source/views/map-carls/report/submit.js
  yarn.lock
Labels: approved-drew, approved-hawken, view:map

#222 Use new GeoJSON map data source
  package.json
  source/app.js
  source/navigation.js
  source/views/map-carls/building-list.js
  source/views/map-carls/index.js
  source/views/map-carls/info.js
  source/views/map-carls/mapbox.js
  source/views/map-carls/picker.js
  source/views/map-carls/report/editor.js
  source/views/map-carls/report/index.js
  source/views/map-carls/report/submit.js
  source/views/map-carls/types.js
  source/views/map-carls/urls.js
  yarn.lock
Labels: approved-drew, approved-hawken, view:map

#229 Add display of nicknames to map list and info view
  source/views/map-carls/building-list.js
  source/views/map-carls/info.js
  source/views/sis/balances.js
Labels: approved-drew, approved-hawken, view:map

#235 iOS download badge on readme
  README.md
Labels: approved-drew

#244 New Android icon
  android/app/src/main/ic_launcher-web.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/build.gradle
Labels: platform:android
